<li>
        <p>{{this.burger_name}}</p>
        <button class = "devour" data-id= "{{this.id}}" data-devoured= {{devoured}}>Devour</button>
        <button class="delete-burger" data-id= "{{this.id}}">Delete</button>
</li>

{{name}}

